absl-py==2.1.0
astunparse==1.6.3
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
flatbuffers==23.5.26
future==1.0.0
gast==0.5.4
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
grpcio==1.62.1
h5py==3.10.0
idna==3.6
keras==3.3.3
libclang==16.0.6
Markdown==3.6
MarkupSafe==2.1.5
numpy==1.26.4
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==24.0
pillow==10.2.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1-modules==0.4.0
requests==2.31.0
requests-oauthlib==1.4.0
rsa==4.9
six==1.16.0
tensorflow==2.16.1
tensorflow-estimator==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
typing_extensions==4.10.0
urllib3==2.2.1
Werkzeug==3.0.2
wrapt==1.16.0
